.available-devices {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 25%);

        &__item {
            text-align: center;
            img {
                max-width: 100%;
            }
        }
    }
}