.plans {
    padding: 5.6vw;

    h2 {
            text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        &__item {
            text-align: center;
            padding: 60px 44px 44px;

            strong {
            display: block;
            }
         }

    }

    p {
        text-align: center;
    }
}